@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-center align-items-center vh-100 bg-center text-center"
     style="background-image: url('@Url.Content("~/Content/SRC/img/world-tourism-background-free-vector.jpg")');
        background-color: transparent;
        background-size: cover;
        background-position: center;
    ">
    <div class="container text-white">
        <h1 class="display-3">Welcome To Your Next Journey</h1>
        <a class="btn btn-primary btn-lg mt-3" href="#">Book Your Next Journey</a>
    </div>
</div>
